* {
  box-sizing: border-box;
}

body {
    font-family: -apple-system, "Roboto", BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

h1 {
  font-size: 24px;
  @include media-break-point-up("md") {
    font-size: 64px;
  }
  font-weight: 900;
}

h2 {
  font-size: 24px;
  @include media-break-point-up("md") {
    font-size: 48px;
  }
  font-weight: 500;
}

a, p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

input, button {
  background-color: transparent ;
  outline: 0;
  border: 0;
  cursor: pointer;
}
