.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin: 0 0 0 auto;
}

@each $name, $value in $space {
  .mx-#{$name} {
    margin-left: ($pixel_base * $value);
    margin-right: ($pixel_base * $value);
  }
  .mt-#{$name} {
    margin-top: ($pixel_base * $value);
  }
  .mb-#{$name} {
    margin-bottom: ($pixel_base * $value);
  }
  .ml-#{$name} {
    margin-left: ($pixel_base * $value);
  }
  .mr-#{$name} {
    margin-right: ($pixel_base * $value);
  }
  .p-#{$name} {
    padding: ($pixel_base * $value);
  }
  .py-#{$name} {
    padding-top: ($pixel_base * $value) ;
    padding-bottom: ($pixel_base * $value);
  }
  .px-#{$name} {
    padding-left: ($pixel_base * $value) ;
    padding-right: ($pixel_base * $value);
  }
  .pl-#{$name} {
    padding-left: ($pixel_base * $value);
  }
  .pt-#{$name} {
    padding-top: ($pixel_base * $value);
  }
  .pb-#{$name} {
    padding-bottom: ($pixel_base * $value);
  }
  .border-#{$name} {
    border-width: ($border_base * $value);
  }
}
