.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align-last: left;
  }
  &-small {
    font-size: 12px;
  }
  &-right {
    text-align: right;
  }
  &-italic {
    font-style: italic;
  }
  &- {

  }
}

.fw {
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
  &-black {
    font-weight: 900;
  }
}

.border {
  border: 1px solid #000;
  &-bottom {
    border-bottom: 1px solid #000;
  }
  &-right {
    border-right: 1px solid #000;
  }
  &-left-0 {
    border-left: 0;
  }
  &-right-0 {
    border-right: 0;
  }
}

.shadow {
  box-shadow: 0px 2px 6px #00000029;
}

.object-fit-cover {
  object-fit: cover;
}

.bg {
  &-image {
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
  }
  &-home {
    &-banner {
      background-image: url(../images/home-header.png);
      height: 396px;
      @include media-break-point-up("md") {
        height: 787px;
      }
    }
    &-joint {
      background-image: url(../images/index-bg-sm.png);
      @include media-break-point-up("md") {
        background-image: url(../images/index-bg-md.png);
        // height: 960px;
      }
      @include media-break-point-up("lg") {
        background-image: url(../images/index-bg.png);
        // heighxt: 608px;
      }
    }
  }
}

@each $name, $value in $percent {
  .w-#{$name} {
    width: $value;
  }
  .h-#{$name} {
    height: $value;
  }
  .left-#{$name} {
    left: $value;
  }
  .bottom-#{$name} {
    bottom: $value;
  }
}

@each $name, $value in $magic-height {
  .magic-height-#{$name} {
    height: $value;
  }
}

@each $name, $value in $fontsizes {
  .fz-#{$name} {
    font-size: $value !important;
  }
}

@each $name, $value in $colors {
  .border-#{$name} {
    border-color: $value;
  }
  .text-#{$name} {
    color: $value;
    &::after {
      background-color: #ffffff;
    }
  }
  .bg-#{$name} {
    background-color: $value;
  }
}
