$pixel_base: 4px;
$border_base: 1px;
$space: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "11": 11,
  "12": 12,
  "13": 13,
  "14": 14,
  "15": 15,
  "16": 16,
  "17": 17,
  "20": 20,
  "36": 36,
  "40": 40
);

$percent: (
  "3": 3%,
  "6": 6%,
  "20": 20%,
  "24": 24%,
  "25": 25%,
  "26": 26%,
  "48": 48%,
  "50": 50%,
  "67": 67%,
  "75": 75%,
  "80": 80%,
  "100": 100%
);

$breakpoints: (
  "xsm": 375px,
  "sm": 414px,
  "md": 768px,
  "lg": 960px,
  "xl": 1200px,
  "xxl" : 1400px
);

$colors: (
  "primary":  #AA0601,
  "primary-dark":  #650300,
  "secondary":#FBF2F2,
  "white":    #ffffff,
  "black":    #000000,
  "grey":     #dfdbdb,
  "grey-dark":#707070,
);

$fontsizes: (
  "sm": 14px,
  "lg": 20px,
  "xl": 24px,
  "2xl": 36px,
  "3xl": 48px
);

$magic-height: (
  "16": 16px,
  "24": 24px,
  "40": 40px,
  "48": 48px,
  "100": 100px,
  "306": 306px,
  "336": 336px,
  "348": 348px,
  "396": 396px,
  "416": 416px,
  "511": 511px,
  "787": 787px
);
