$pixel_base: 4px;
$border_base: 1px;
$space: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "11": 11,
  "12": 12,
  "13": 13,
  "14": 14,
  "15": 15,
  "16": 16,
  "17": 17,
  "36": 36,
  "40": 40
);
$breakpoints: (
  "sm": 414px,
  "md": 768px,
  "lg": 960px,
  "xl": 1200px,
  "xxl" : 1400px
);

$colors: (
  "primary":  #AA0601,
  "primary-dark":  #650300,
  "secondary":#FBF2F2,
  "white":    #ffffff,
  "black":    #000000
);

$fontsizes: (
  "sm": 14px,
  "lg": 20px,
  "xl": 24px,
  "2xl": 36px,
  "3xl": 48px
);

$magic-height: (
  "48": 48px,
);

@mixin media-break-point-up($breakName) {
  @media(min-width: map-get($breakpoints, $breakName) ) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
    font-family: -apple-system, "Roboto", BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

h1 {
  font-size: 64px;
  font-weight: 900;
}

h2 {
  font-size: 72px;
  font-weight: 500;
}

a, p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

button {
  background-color: transparent ;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include media-break-point-up("md") {
    padding: 0 36px;
  }
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin: 0 0 0 auto;
}

.text {
  &-center {
    text-align: center;
  }
  &-small {
    font-size: 20px;
    line-height: 1.5;
  }
}

.fw {
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
}

.text-italic {
  font-style: italic;
}

.border {
  border: 1px solid #000;
  &-bottom {
    border-bottom: 1px solid #000;
  }
}

.border-left-0 {
  border-left: 0;
}

.border-right-0 {
  border-right: 0;
}

.w-50 {
  width: 50%;
}

@each $name, $value in $space {
  .mx-#{$name} {
    margin-left: ($pixel_base * $value);
    margin-right: ($pixel_base * $value);
  }
  .mt-#{$name} {
    margin-top: ($pixel_base * $value);
  }
  .mb-#{$name} {
    margin-bottom: ($pixel_base * $value);
  }
  .ml-#{$name} {
    margin-left: ($pixel_base * $value);
  }
  .mr-#{$name} {
    margin-right: ($pixel_base * $value);
  }
  .py-#{$name} {
    padding: ($pixel_base * $value) 0;
  }
  .px-#{$name} {
    padding: 0 ($pixel_base * $value);
  }
  .pl-#{$name} {
    padding-left: ($pixel_base * $value);
  }
  .pt-#{$name} {
    padding-top: ($pixel_base * $value);
  }
  .pb-#{$name} {
    padding-bottom: ($pixel_base * $value);
  }
  .border-#{$name} {
    border-width: ($border_base * $value);
  }
}

@each $name, $value in $colors {
  .border-#{$name} {
    border-color: $value;
  }
  .text-#{$name} {
    color: $value;
    &::after {
      background-color: #ffffff;
    }
  }
  .bg-#{$name} {
    background-color: $value;
  }
}

@each $name, $value in $magic-height {
  .magic-height-#{$name} {
    height: $value;
  }
}

@each $name, $value in $fontsizes {
  .fz-#{$name} {
    font-size: $value !important;
  }
}

@each $name, $value in $breakpoints {
  .d-#{$name}-flex {
    @include media-break-point-up($name) {
      display: flex;
    }
  }
  .d-#{$name}-flex-row {
    @include media-break-point-up($name) {
      flex-direction: row;
    }
  }
  .d-#{$name}-none {
    @include media-break-point-up($name) {
      display: none;
    }
  }
  .d-#{$name}-block {
    @include media-break-point-up($name) {
      display: block;
    }
  }
  .ml-#{$name}-auto {
    @include media-break-point-up($name) {
      margin-left: auto;
    }
  }
  @each $spaceName, $spaceValue in $space {
    .pt-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        padding-top: ($pixel_base * $spaceValue);
      }
    }
    .pb-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        padding-bottom: ($pixel_base * $spaceValue);
      }
    }
  }
}

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
}

.main {
  min-height: calc(100vh - 232px);
  @include media-break-point-up("md") {
    min-height: calc(100vh - 353px);
  }
}
