$pixel_base: 4px;
$border_base: 1px;
$space: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "11": 11,
  "12": 12,
  "13": 13,
  "14": 14,
  "15": 15,
  "16": 16,
  "17": 17,
  "20": 20,
  "36": 36,
  "40": 40
);

$percent: (
  "24": 24%,
  "48": 48%,
  "50": 50%,
  "100": 100%
);

$breakpoints: (
  "sm": 414px,
  "md": 768px,
  "lg": 960px,
  "xl": 1200px,
  "xxl" : 1400px
);

$colors: (
  "primary":  #AA0601,
  "primary-dark":  #650300,
  "secondary":#FBF2F2,
  "white":    #ffffff,
  "black":    #000000
);

$fontsizes: (
  "sm": 14px,
  "lg": 20px,
  "xl": 24px,
  "2xl": 36px,
  "3xl": 48px
);

$magic-height: (
  "24": 24px,
  "40": 40px,
  "48": 48px,
  "100": 100px,
  "336": 336px,
  "348": 348px,
  "396": 396px,
  "416": 416px,
  "787": 787px
);

@mixin media-break-point-up($breakName) {
  @media(min-width: map-get($breakpoints, $breakName) ) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
    font-family: -apple-system, "Roboto", BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

h1 {
  font-size: 24px;
  @include media-break-point-up("md") {
    font-size: 64px;
  }
  font-weight: 900;
}

h2 {
  font-size: 24px;
  @include media-break-point-up("md") {
    font-size: 48px;
  }
  font-weight: 500;
}

a, p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

input, button {
  background-color: transparent ;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 1368px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include media-break-point-up("md") {
    padding: 0 36px;
  }
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content {
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: end;
  }
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin: 0 0 0 auto;
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align-last: left;
  }
  &-small {
    font-size: 20px;
    line-height: 1.5;
  }
  &-right {
    text-align: right;
  }
}

.fw {
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
  &-black {
    font-weight: 900;
  }
}

.text-italic {
  font-style: italic;
}

.border {
  border: 1px solid #000;
  &-bottom {
    border-bottom: 1px solid #000;
  }
}

.border-left-0 {
  border-left: 0;
}

.border-right-0 {
  border-right: 0;
}

.object-fit-cover {
  object-fit: cover;
}

@each $name, $value in $percent {
  .w-#{$name} {
    width: $value;
  }
}

@each $name, $value in $space {
  .mx-#{$name} {
    margin-left: ($pixel_base * $value);
    margin-right: ($pixel_base * $value);
  }
  .mt-#{$name} {
    margin-top: ($pixel_base * $value);
  }
  .mb-#{$name} {
    margin-bottom: ($pixel_base * $value);
  }
  .ml-#{$name} {
    margin-left: ($pixel_base * $value);
  }
  .mr-#{$name} {
    margin-right: ($pixel_base * $value);
  }
  .py-#{$name} {
    padding-top: ($pixel_base * $value) ;
    padding-bottom: ($pixel_base * $value);
  }
  .px-#{$name} {
    padding-left: ($pixel_base * $value) ;
    padding-right: ($pixel_base * $value);
  }
  .pl-#{$name} {
    padding-left: ($pixel_base * $value);
  }
  .pt-#{$name} {
    padding-top: ($pixel_base * $value);
  }
  .pb-#{$name} {
    padding-bottom: ($pixel_base * $value);
  }
  .border-#{$name} {
    border-width: ($border_base * $value);
  }
}

@each $name, $value in $colors {
  .border-#{$name} {
    border-color: $value;
  }
  .text-#{$name} {
    color: $value;
    &::after {
      background-color: #ffffff;
    }
  }
  .bg-#{$name} {
    background-color: $value;
  }
}

@each $name, $value in $magic-height {
  .magic-height-#{$name} {
    height: $value;
  }
}

@each $name, $value in $fontsizes {
  .fz-#{$name} {
    font-size: $value !important;
  }
}

@each $name, $value in $breakpoints {
  .d-#{$name}-flex {
    @include media-break-point-up($name) {
      display: flex;
    }
  }
  .flex-#{$name}-row {
    @include media-break-point-up($name) {
      flex-direction: row;
    }
  }
  .d-#{$name}-none {
    @include media-break-point-up($name) {
      display: none;
    }
  }
  .d-#{$name}-block {
    @include media-break-point-up($name) {
      display: block;
    }
  }
  .ml-#{$name}-auto {
    @include media-break-point-up($name) {
      margin-left: auto;
    }
  }
  @each $spaceName, $spaceValue in $space {
    .py-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        padding-top: ($pixel_base * $spaceValue);
        padding-bottom: ($pixel_base * $spaceValue);
      }
    }
    .pt-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        padding-top: ($pixel_base * $spaceValue);
      }
    }
    .pb-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        padding-bottom: ($pixel_base * $spaceValue);
      }
    }
    .mr-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        margin-right: ($pixel_base * $spaceValue);
      }
    }
    .mx-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        margin-left: ($pixel_base * $spaceValue);
        margin-right: ($pixel_base * $spaceValue);
      }
    }
    .mb-#{$name}-#{$spaceName} {
      @include media-break-point-up($name) {
        margin-bottom: ($pixel_base * $spaceValue);
      }
    }
  }
  @each $heightName, $heightValue in $magic-height {
    .magic-height-#{$name}-#{$heightName} {
      @include media-break-point-up($name) {
        height: $heightValue ;
      }
    }
  }
  @each $fontsizesName, $fontsizesValue in $fontsizes {
    .fz-#{$name}-#{$fontsizesName} {
      @include media-break-point-up($name) {
        font-size: $fontsizesValue !important;
      }
    }
  }
  @each $percentName, $percentValue in $percent {
    .w-#{$name}-#{$percentName} {
      @include media-break-point-up($name) {
        width: $percentValue;
      }
    }
  }
}

.bg {
  &-image {
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
  }
  &-home {
    &-banner {
      background-image: url(../images/home-header.png);
      height: 396px;
      @include media-break-point-up("md") {
        height: 787px;
      }
    }
    &-joint {
      background-image: url(../images/index-bg-sm.png);
      @include media-break-point-up("md") {
        background-image: url(../images/index-bg-md.png);
        // height: 960px;
      }
      @include media-break-point-up("lg") {
        background-image: url(../images/index-bg.png);
        // heighxt: 608px;
      }
    }
  }
}

.main {
  min-height: calc(100vh - 232px);
  @include media-break-point-up("md") {
    min-height: calc(100vh - 353px);
  }
}
